<div class="nav">
    <ul>
        <li><a class="item" href="/posts">首页</a></li>
        <li>
            <% if (user) { %>
            <a class="item" href="/posts?author=<%= user._id %>">个人主页</a>
            <% } else { %>
            <a  href="#"></a>
            <% } %>
        </li>
        <li>
            <% if (user) { %>
            <li style="float:right"><a class="active" href="/signout">登出</a></li>
            <li style="float:right"><a class="item" href="/posts/create">发表文章</a></li>
            <% } else { %>
            <li style="float:right"><a class="item" href="/signin">登录</a></li>
            <li style="float:right"><a class="item" href="/signup">注册</a></li>
            <% } %>
        </li>
    </ul>
</div>